# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sen Palanisami
	email = sen@spenthil.com
[init]
	defaultBranch = main
[core]
	editor = vim
	excludesfile = /Users/spenthil/.gitignore
	autocrlf = input
[pull]
	ff = only
